@import url(//fonts.googleapis.com/css?family=Ubuntu);

html,
body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}


.navbar-brand,
.navbar-nav li a {
    margin-top: 45px;
}

.dropdown-menu li a {
    margin-top: 0px;
}

.navbar-inverse {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.35);
}

.navbar-inverse {
    border-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #337ab7;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #337ab7;
    background-color: #eee;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #337ab7;
    background-color: #eee;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #337ab7;
    background-color: #eee;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 120px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.intro-slogan {
  /* background: url("../images/water-drop-on-a-leaf-macro.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0); */
  background: url("../images/field-sky.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  padding-top: 10px;
}

/*
.intro-header {
  //background: url("../images/water-drop-on-a-leaf-macro.jpg") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
*/
.intro-message > h3 {
  //text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  //color: #f8f8f8;
}

.intro-header .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.intro-message {
  //color: #337ab7;
  //background-color: #eee;

  padding-bottom: 10%;
  padding-top: 10%;
  position: relative;
}

.intro-message > h2 {
    margin-top: 20px;
}

.intro-message > h2 > span {
    margin: 0;
    padding: 3px 15px;
    color: #FFF;
    font-size: 32px;
    line-height: 64px;
    background: #1C549D;
    text-align: center;
}

.intro-message > h2 > span:nth-child(2) {
    padding: 10px 15px;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}












.product-comparison table {
    margin-top: 1em;
    width: 100%;
}

.product-comparison table th {
    width: 24%;
}

.product-comparison table th:first-child {
    width: 28%;
}

.product-comparison table th, .product-comparison table td {
    vertical-align: top;
    text-align: center;
}

.product-comparison table th:first-child, .product-comparison table td:first-child {
    text-align: left;
}

.product-comparison table th {
    font-weight: 400;
    padding: 1em;
}

.product-comparison table th span {
    font-weight: bold;
}

.product-comparison table th a.btn {
    /* font-size: 0.85rem; */
}

.product-comparison table th:first-child {
    vertical-align: middle;
    padding-bottom: 1em;
    //font-size: 1.2rem;
}

.product-comparison table td {
    background-color: #f5f6f6;
    border-bottom: 1px solid #fff;
    padding: 0.5em 1em;
    vertical-align: top;
}

.product-comparison table tr:hover td {
    background-color: #e8eaea;
}

.product-comparison .feature-set-row td {
    background-color: #e8eaea;
}


/* Feature set rows, optional Learn More links */

.product-comparison .feature-set-row td:first-child * {
    font-weight: normal;
    margin-left: 1em;
}

.product-comparison .feature-set-row td:first-child:first-child {
    font-weight: bold;
}

.product-comparison .comparison-footnote {
    text-align: left;
    font-size: 0.75em;
}

.product-comparison td p {
    display: inline;
}


